body {
    background-color:darkred;
    text-align: center;
}
h1 {font-style: italic;
    color: lemonchiffon;
    font-weight:500;
    font-size:large;
}
h2 {font-style: italic;
    color: lemonchiffon;
    font-weight:500;
    font-size:large;
}
